name: PR - Build all
on:
  # build a new release on push a new config file
  pull_request_target:
    types: [ opened, edited, reopened, synchronize ]
    paths:
      - "actions/**"
      - "configs/config-default.conf"
      - ".github/workflows/pull_request-all.yml"

# Allow to stop obsolete workflows
concurrency:
  group: ci-buildtrain-pr-all-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  setup:
    name: Create Matrix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Matrix
        id: set-matrix
        run: |
          JSON=$(find ${{ github.workspace }}/configs -type f -name "board-*.conf" -printf '%f\n' | sed 's#board-##;s#.conf##' | jq -R -s -c 'split("\n")[:-1]')
          echo "::set-output name=configfiles::${JSON}"
    outputs:
      configfiles: ${{ steps.set-matrix.outputs.configfiles }}

  build:
    name: Build Images
    needs: [setup]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configfile: ${{ fromJson(needs.setup.outputs.configfiles) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build image
        uses: ./actions/build-image-docker
        with:
          configfile: ${{ matrix.configfile }}

      - name: Rename Files
        id: rename-files
        run: |
          
          source ./build-configs/configs/config-default.conf
          source ./build-configs/configs/board-${{ matrix.configfile }}.conf
          
          NOW="$(date +"%Y-%m-%d")"
          VERSION=$(cat ./build/VERSION)
          IMAGE="${NOW}-armbian-${VERSION}-${{ matrix.configfile }}"
          
          WORKSPACE=$(echo ${{ github.workspace }})
          cd $WORKSPACE/build/output/images/
          
          mv *.img ${IMAGE}.img
          mv *.txt ${IMAGE}.txt
          rm *.sha
          
          echo "::set-output name=image::$IMAGE"

      - name: Compressing Image
        run: |
          WORKSPACE=$(echo ${{ github.workspace }})
          cd $WORKSPACE/build/output/images/
          xz -efkvz ${{ steps.rename-files.outputs.image }}.img

      - name: Calculating checksums
        run: |
          WORKSPACE=$(echo ${{ github.workspace }})
          cd $WORKSPACE/build/output/images/
          sha256sum ${{ steps.rename-files.outputs.image }}.img > ${{ steps.rename-files.outputs.image }}.img.sha256
          sha256sum ${{ steps.rename-files.outputs.image }}.img.xz > ${{ steps.rename-files.outputs.image }}.img.xz.sha256

      - name: Upload Compressed Image
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.rename-files.outputs.image }}.img.xz
          path: ${{ github.workspace }}/build/output/images/${{ steps.rename-files.outputs.image }}.img.xz

      - name: Upload Compressed Image Checksum
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.rename-files.outputs.image }}.img.xz.sha256
          path: ${{ github.workspace }}/build/output/images/${{ steps.rename-files.outputs.image }}.img.xz.sha256

      - name: Upload Image Checksum
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.rename-files.outputs.image }}.img.sha256
          path: ${{ github.workspace }}/build/output/images/${{ steps.rename-files.outputs.image }}.img.sha256
